.header {
  width: 100%;
  height: 60px;
  background: $black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  &__logo__img {
    width: 244px;
    height: auto;
    margin-top: 15px;
    margin-left: 15px;
  }

  &__content {
    margin-left: -300px;
    display: flex;
    justify-content: start;
    align-items: center;

    &__icon {
      margin-right: 20px;
      width: 50px;
      height: 50px;
      background: #fff;
      border-radius: 50px;
    }

    &__link {
      font-weight: 700;
      font-size: 1rem;
      color: $green;
      margin-right: 65px;
      cursor: pointer;
      transition: 0.2s;
      margin-top: 8px;
      text-align: center;
      width: 110px;

      &::after {
        content: '';
        display: block;
        width: 110px;
        height: 3px;
        background: $green;
        margin-top: 3px;
        transform: scale(0, 1);
        transform-origin: left top;
        transition: transform .3s;
      }

      &:hover::after {
        transform: scale(1, 1);
      }

      &:hover {
        color: lighten($green, 20);
      }
    }
  }
}
