.showcase {
  width: 280px;
  display: block;
  margin: 15px auto;

  &__title {
    display: block;
    color: $green;
    font-size: 1rem;
  }

  &__box {
    margin-top: 5px;
    min-height: 150px;
    width: 100%;
    background: $gray;
  }
}