.sidebar {
  width: 300px;
  min-height: 600px;
  height: 100%;
  background: $black;
  position: relative;

  &__dlLink {
    text-align: center;
    display: block;
    margin: 50px auto 0 auto;
    color: $yellow;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      color: lighten($yellow, 20);
    }
  }
}
