@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap");
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Noto Sans', sans-serif;
  font-size: 62.5%;
  background: #707070;
}

#app,
.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  background: #707070;
  position: relative;
}

.contentWrapper {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: stretch;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-size: 62.5%;
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

.header {
  width: 100%;
  height: 60px;
  background: #333333;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__logo__img {
  width: 244px;
  height: auto;
  margin-top: 15px;
  margin-left: 15px;
}

.header__content {
  margin-left: 120px;
  display: flex;
  justify-content: start;
  align-items: center;
}

.header__content__link {
  font-weight: 700;
  font-size: 1rem;
  color: #01D8B2;
  margin-right: 65px;
  cursor: pointer;
  transition: 0.2s;
  margin-top: 8px;
  text-align: center;
  width: 100px;
}

.header__content__link::after {
  content: '';
  display: block;
  width: 100px;
  height: 3px;
  background: #01D8B2;
  margin-top: 3px;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}

.header__content__link:hover::after {
  transform: scale(1, 1);
}

.header__content__link:hover {
  color: #41fedd;
}

.sidebar {
  width: 300px;
  min-height: 100%;
  height: 100%;
  background: #333333;
  position: relative;
}

.showcase {
  width: 280px;
  display: block;
  margin: 15px auto;
}

.showcase__title {
  display: block;
  color: #01D8B2;
  font-size: 1rem;
}

.showcase__box {
  margin-top: 5px;
  min-height: 150px;
  width: 100%;
  background: #707070;
}

.screen {
  background: #707070;
}
